
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .text-shadow-md {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  }
  .text-shadow-lg {
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
  }
}

:root {
  --_progress: 50%;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: black;
  color: white;
}


